<h1>Issues</h1>

<a href="/issues/add" class="button button-default">Add issue</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Heading
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        {{#issues}}
        <tr>
            <td>
                {{heading}}
            </td>
            <td>
                <a href="/issues/{{id}}" class="button button-default">Edit</a>
                <a href="/issues/delete/{{id}}" class="button button-default">Delete</a>
            </td>
        </tr>
        {{/issues}}
    </tbody>
</table>
